<div>
  <div class="white">
    <img routerLink="/" src="assets/images/bld_logo_belastingdienst.png">
  </div>
  <header class="header">
    <h1>Belastingdienst Marketplace</h1>
    <nav class="navbar">
      <a class="a" *ngIf="loggedIn === 'uitgelogd'" routerLink="/createAccount">creeër Account </a>
      <a routerLink="/">Home</a>
      <a *ngIf="loggedIn == 'uitgelogd'" routerLink="/login">login </a>
      <a *ngIf="loggedIn == 'ingelogd'" [routerLink]="" (click)="logOut()">logout</a>
    </nav>
  </header>
</div>
