.product {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  justify-content: space-between;
}
.image{
  width: 128px;
  height: 128px;
}

