<div>
  <form class="form" *ngIf="loggedIn == false" (ngSubmit)="onSubmit()">
    <input type="text" name="email" [(ngModel)]="email" placeholder="email">
    <input type="passWord" name="password" [(ngModel)]="password" placeholder="password">
    <input type="submit" value="Login" class="btn space-left">
  </form>
  <button type="button" routerLink="/createAccount" class="btn space-left">Creeër account</button>

  <div *ngIf="inValidUser == true">ongeldige gebruiker</div>
  <form class="form" *ngIf="loggedIn" (ngSubmit)="onLogOut()">
    <label>Welkom, {{visitor.firstname}}   </label>
    <input type="submit" value="Afmelden" class="btn">
  </form>
</div>
