.form {
  padding-top: 10px;
  padding-bottom: 5px;
}

.form input[type='text'] {
  flex: 10;
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.form input[type='passWord'] {
  flex: 10;
  padding: 5px;
  margin-right: 5px;
}

.form input[type='submit'] {
  flex: 2;
}

.white{

}
.form input[type='create'] {
  flex: 2;
}

.space-left{
  margin-left: 5px;
}
